*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Inter,sans-serif;
}

.register-page{
  min-height:100vh;
  display:flex;
  background:#f8fafc;
}

/* LEFT */

.register-left{
  flex:1;
  background:#0f172a;
  color:white;
  display:flex;
  justify-content:center;
  align-items:center;
  padding:60px;
}

.brand-section{
  max-width:500px;
}

.brand-section h1{
  font-size:48px;
  margin-bottom:15px;
}

.brand-section p{
  font-size:18px;
  color:#cbd5e1;
  margin-bottom:40px;
  line-height:1.6;
}

.feature-list{
  display:flex;
  flex-direction:column;
  gap:18px;
}

.feature-item{
  background:rgba(255,255,255,.08);
  padding:18px;
  border-radius:12px;
}

/* RIGHT */

.register-right{
  width:550px;
  background:white;
  display:flex;
  justify-content:center;
  align-items:center;
  padding:40px;
}

.register-card{
  width:100%;
  max-width:430px;
}

.card-header{
  margin-bottom:25px;
}

.card-header h2{
  font-size:32px;
  color:#111827;
}

.card-header p{
  color:#6b7280;
}

.form-group{
  margin-bottom:16px;
}

.form-group label{
  display:block;
  margin-bottom:8px;
  font-weight:600;
}

.form-group input{
  width:100%;
  padding:14px;
  border:1px solid #d1d5db;
  border-radius:10px;
}

.form-group input:focus{
  outline:none;
  border-color:#2563eb;
}

.register-btn{
  width:100%;
  padding:14px;
  border:none;
  border-radius:10px;
  background:#2563eb;
  color:white;
  font-size:16px;
  font-weight:600;
  cursor:pointer;
}

.register-btn:hover{
  background:#1d4ed8;
}

.error-box{
  background:#fee2e2;
  color:#dc2626;
  padding:12px;
  border-radius:10px;
  margin-bottom:15px;
}

.success-box{
  background:#dcfce7;
  color:#16a34a;
  padding:12px;
  border-radius:10px;
  margin-bottom:15px;
}

.register-footer{
  margin-top:20px;
  text-align:center;
}

.register-footer a{
  text-decoration:none;
  color:#2563eb;
  font-weight:600;
}

@media(max-width:900px){

  .register-left{
    display:none;
  }

  .register-right{
    width:100%;
  }

}